certifi==2020.12.5
chardet==3.0.4
click==7.1.2
Flask==1.1.2
Flask-SocketIO==4.3.2
future==0.18.2
idna==2.10
itchat==1.2.32
itsdangerous==1.1.0
Jinja2==2.11.2
logzero==1.6.3
MarkupSafe==1.1.1
pypng==0.0.20
PyQRCode==1.2.1
python-engineio==3.14.2
python-socketio==4.6.1
requests==2.25.0
six==1.15.0
urllib3==1.26.2
Werkzeug==1.0.1
wxpy==0.3.9.8
